<h1>Title: <%= @article.title %></h1>
<h2> Content: <%= @article.content %> </h2>


<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
